.alert {
        max-width: 100%;
        background: $color4;
        display: flex;
        align-items: center;
        justify-content: start;
        border-radius: 4px;

        p {
                color: white;
        }
}