@mixin buttonStyle {
    transition: background .2s;
    background: transparent;
    cursor: pointer;
    border-radius: 5px;
    padding: .5rem; 
    text-align: center;
    text-decoration: none;
    
    &:active {
        outline: none;
    }
    
    &:focus {
        outline: none;
    }
}

.button-orange {
    border: 1.4px solid $color2;
    color: $color2;
     &:hover {
        background: $color2;
        color: white;
    }
}

.button-red {
    border: 1.4px solid $color4;
    color: $color4;
     &:hover {
        background: $color4;
        color: white;
    }
}

.button-white {
    border: 1.4px solid rgba(255, 255, 255, 0.7);
    background: $color2;
    
    &:hover {
        background: rgba(255, 255, 255, 0.7);
        color: black;
    }
}

.button-block {
    @include buttonStyle;
    display: block;
    width: 100%;
}

.button-small {
    @include buttonStyle;
    display: inline-block;
    
    
}
