.card {
    transition: all .2s;
    cursor: pointer;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.7);
    margin-bottom: .7rem;


    &:hover {
        background: white;
    }

    &__title {
        padding: 1.4rem 1rem 1.4rem 1rem;
    }
    
    &__info {
        border-top: 1px solid rgb(230, 230, 230);
        padding: .2rem 1rem .2rem 1rem;
        

            p {
                display: inline-block;
                color: $body-light;
            }
        
    }
    

    
    &__vote {
      
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 100px;
        
        
        i {
            display: inline-block;
            color: $color1;
       
            
        }
        
        p {
            color: $color1;
            display: inline-block;
            margin: 0;
        }
    }
}