.card {
    transition: all .2s;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.7);
    margin-bottom: .5rem;
    &:hover {
        background: white;
    }
    
    &__title {
        display: block;
        color: $color1;
        padding-bottom: .4rem;
    }
    
    &__date {
        display: block;

    }
    
    &__author {
        display: inline-block;
        text-decoration: none;
      
    }

    
    &__vote {
      
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 100px;
        
        
        i {
            display: inline-block;
            color: $color1;
       
            
        }
        
        p {
            color: $color1;
            display: inline-block;
            margin: 0;
        }
    }
}