.comment {
    display: grid;
    grid-template-columns: 2fr 25fr 4fr;
    grid-template-rows: 1fr;
    align-items: center;
    border-radius: 2px;

    
    &__content {
  
        
    }

    
    &__body {
    
        color: $color1;

    }
    
    &__avatar {
        background: black;
        color: white;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        align-self: center;
        justify-self: center;
        
    }
    
    &__date {
       
        display: inline-block;
       
        font-weight: lighter;
    }
    
    &__author {
    
        display: inline-block;
        font-weight: normal;
        color: black;
        text-decoration: none;
        &:hover {
            color: $color2;
        }
    }
    
    &__options {
     
        
        a {
            color: $color1;
          
            cursor: pointer;
            text-decoration: none;
            
            &:hover {
                color: $color2;
            }
        }
    }
    
    &__vote {
        display: flex;
        align-items: center;
        justify-content: center;
        
        p {
          
        }
        
        i {
         
        }
    }
    
    &__form {
        background: rgba(255, 255, 255, 0.9);
       
    }
}

.comment-voted {
    color: $color2;
}

.comment-not-voted {
    color: $color1;
    cursor: pointer;
    
    &:hover {
        color: $color2;
    }
}

.reply {
    
    display: grid;
    grid-template-columns: 2fr 25fr 4fr;
    grid-template-rows: 1fr;
    border-radius: 2px;
    background: rgb(230, 230, 230)
    
    &__avatar {
        margin: auto;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        
    }
}


.reply-form {
    background: rgba(255, 255 ,255, 0.9);
}