.comment {
    display: grid;
    grid-template-columns: 2fr 25fr 4fr;
    grid-template-rows: 1fr;
    align-items: center;
    @include box;
    background: white;
    padding: .6rem;
    margin-bottom: .6rem;
    
    &__avatar {
        background: black;
        color: white;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        align-self: center;
        justify-self: center;
        padding: 7px;
        
    }
    
    &__date, &__author {
        display: inline-block;
        padding: .2rem;
        font-size: .9rem;
    }
    
    &__body {
        padding: .2rem;    
    }
    
    &__options {
        padding: .2rem;
        
        a {
            @include hoverOrange;
            cursor: pointer;
            text-decoration: none;
            padding-right: .4rem;
            font-size: .9rem;
        }
    }
    
    &__vote {
        display: flex;
        align-items: center;
        justify-content: center;

    }
}

.comment-voted {
    color: $color2;
}

.comment-not-voted {
    color: $color1;
    cursor: pointer;
    
    &:hover {
        color: $color2;
    }
}

.reply {
    background: white;
    @include box;
    @include fadeInAnimation;
    display: grid;
    grid-template-columns: 2fr 25fr 4fr;
    grid-template-rows: 1fr;
    margin-left: 1rem;
    margin-bottom: 2rem;
    &__avatar {
        margin: auto;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        
    }
}


.reply-form {
    @include fadeInAnimation;
}