.comment__container {
    @include box;
    margin-bottom: .3rem;
    background: white;
    padding: 1rem;
}


.comment {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    

    &__vote {
        display: flex;
        align-items: center;
        p, i {
            padding: .2rem;
        };
    }

    &__author {
        p, a {
            display: inline-block;
            color: $body-light;
        }
    }

    &__options {
      margin-top: .2rem;
      
      a {
          cursor: pointer;
          &:hover {
              color: $color2
          }
      }
    }

    &__form {
        border-top: 1px solid rgb(230, 230, 230)
    }
}



.comment-voted {
    color: $color2;
}

.comment-not-voted {
    color: $color1;
    cursor: pointer;
    
    &:hover {
        color: $color2;
    }
}

.reply {
    background: white;
    @include box;
    @include fadeInAnimation;
    display: grid;
    grid-template-columns: 2fr 25fr 4fr;
    grid-template-rows: 1fr;
    margin-left: 1rem;
    margin-bottom: 2rem;
    &__avatar {
        margin: auto;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        
    }
}


.reply-form {
    @include fadeInAnimation;
}