@mixin inputStyle($fontSize, $height) {
    border: none;
    width: 100%;
    border-bottom: 1px solid $grey-1;
    background: transparent;
    color: $color1;
    transition: all .2s;
    font-size: $fontSize;
    height: $height;
    
    &:focus {
        outline: none;
        border-color: $color2;
    }
    
    &:hover {
        border-color: $color2;
    }
}

@mixin buttonStyle() {
    text-align: center;
    margin: 5px auto 5px auto;
    border-radius: 2px;
    padding: 8px; 
    cursor: pointer;
    transition: all .2s;
    font-size: 16px;
    
    &:focus {
        outline: none;
    }
}

@mixin textareaStyle() {
    border: none;
    padding: 4px;
    width: 100%;
    margin-top: 10px;
    border: 1px solid $grey-2;
    resize: none;
    border-radius: 2px;
    height: auto;
    font-size: 16px;
    color: $color1;
    transition: all .3s;

    
    &:focus {
        outline: none;
        border-color: $color2;
        background: white;
    }
    
    &:hover {
        border-color: $color2;
    }
} 

.textarea-small {
    @include textareaStyle
}

.textarea-large {
    @include textareaStyle
    min-height: 300px;
}

.input-container { 
    display: grid;
    align-items: center;
    margin: 20px auto 0 auto;
    width: 100%;
}

.label {
    display: block;
    color: $color1;
    font-size: 16px;
}

.input {
    @include inputStyle(16px, 40px);
}

.button-block {
    @include buttonStyle
    @include box
    display: block;
    width: 100%;
}

.button-inline {
    @include buttonStyle
    @include box
    display: inline-block;
}

.light {
    color: $color5;
    &:hover {
    }

}

.form {
    border: 1px solid $grey-3;
    transition: all .2s; 
    border-radius: 2px;
    background: rgba(255, 255 ,255, 0.3);
    
    &__link {
        color: $color2;
        text-decoration: none;
        font-size: 15.5px;
    }
}


.form-error {
    border-color: $color4;
    border-radius: 2px;
}

.file-input {
    cursor: pointer;
    
}

.btn-red {
    text-decoration: none;
    color: white;
    background: $color4;
    
    &:hover {
        background: $color4-dark
    }
}

.btn-orange {
    text-decoration: none;
    color: white;
    background: $color2;
    
    &:hover {
        background: $color2-dark
    }
}