
@mixin inputStyle {
    padding: .6rem;
    border: 1.4px solid $grey-2;
    transition: border-color .2s;
    
    &:focus {
        outline: none;
        border-color: $color2;
    }
}

.input-block {
    @include inputStyle;
    display: block;
    width: 100%;
    border-radius: 5px;
}