
@mixin inputStyle {
    padding: .6rem;
    border: 1.2px solid $grey-3;
    transition: border-color, box-shadow .3s;
    box-shadow: $shadow-input-before;
    border-radius: 5px;

    &:focus {
        outline: none;
        border-color: $color2;
        box-shadow: $shadow-input-after
    }
}

.input-block {
    @include inputStyle;
    display: block;
    width: 100%;
}

.text-area {
    @include inputStyle;
    white-space: pre-wrap;
    min-height: 7rem;
    display: block;
    width: 100%;
}