.loader {
    display: block;
    border: 3px solid;
    border-color: $color2-lighter $color2-lighter $color2-lighter $color2;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    animation: spin;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
}

.loader-container {
    
}