.loader {
    display: block;
    border: 3px solid;
    border-color: $color2-lighter $color2-lighter $color2-lighter $color2;
    border-radius: 50%;
    height: 6rem;
    width: 6rem;
    animation: spin;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
}


.loader-small {
    height: 20px;
    width: 20px;
    display: block;
    border: 2.1px solid;
    border-color: $color2-lighter $color2-lighter $color2-lighter $color2;
    border-radius: 50%;
    animation: spin;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}