.nav {
    top: 0;
    height: 50px;
    background: $color1;
    position: fixed;
    width: 100%;
    transition: all .2s;
    z-index: 11;
    
    &-hide{
        transform:translateY(-55px);
    }
    &-show{
        transform:translateY(0px);
    }
    
    &__container {
        margin: auto;
        height: 100%;
        max-width: 1200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__title {
        font-weight: lighter;
        transition: all .2s;
        display: block;
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;
        color: white;

        i {
            font-size: 1.4rem;
        }

        &:hover {
            color: $color2
        }
    }
    
    &__links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        
        @include respond(tablet) {
            display: none;
        }

    }
     
    &__link {
        transition: all .2s;
        font-weight: normal;
        color: $color3;
        border-bottom: 2.4px solid transparent;
        text-align: center;
        text-decoration: none;
        padding: .8rem;
        &:hover {
            color: $color2;
        }
    }
}

.nav-active {
    color: $color2;
    border-color: $color2;
}

.title-active {
    color: $color2
}

.nav-auth {
    cursor: pointer;
}

.mobile-btn {
    display: none;
    position: fixed;
    right: 20px;
    top: 15px;
    color: $color3;
    font-size: 25px;
    cursor: pointer;
    z-index: 11;
    
    &:hover {
        color: $color2;
    }
    
    @include respond(tablet) {
            display: block;
    }

}

.nav__drawer {
    height: 100%;
    width: 50%;
    top: 0px;
    left: 0;
    position: fixed;
    background: white;
    transition: all .3s;
    background: white;
    border-right: 1.4px solid $grey-3;
    
    &-show {
        z-index: 10;
        transform: translateX(0);
        box-shadow: 3px 0px 14px 0px rgba(0,0,0,0.41);
       
    }
    
    &-hide {
        z-index: -1;
        transform: translateX(-100%);
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.41);
      
    }
    
    &-links {
        margin-top: 50px;
    }
    
    &-link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $color1;
        padding: 1.5rem;
        text-align: center;
        width: 100%;
        text-decoration: none;
        border-bottom: 1px solid rgb(230, 230, 230);
        
        p {
            color: $color1;
            margin-bottom: 0;
            font-size: 1rem;
            &:hover {
                color: white;
            }
        }

        i {
            font-size: 1rem;
        }
        
        &:hover {
            background: $color2;
            color: white;
        }
    }
}

.nav__backdrop {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.mobile-active {
    background: $color2;
    color: white;
    border-color: transparent;
    p {
        color: white;
    }
}

