.nav {
    top: 0;
    height: 55px;
    
    // background: linear-gradient(to top, rgb(40, 40, 40), rgb(55, 55, 55));
    background: black;
    
    position: fixed;
    width: 100%;
    transition: all .2s;
    z-index: 11;
    &-hide{
        transform:translateY(-55px);
    }
    &-show{
        transform:translateY(0px);
    }
   
    
    &__container {
        margin: auto;
        height: 100%;
        padding: 10px;
        max-width: 1200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width: 900px) {
            justify-content: center;
        }
    }
    &__title {
        transition: all .2s;
        @include specialFont(30px, $color3);
        display: block;
        text-align: center;
        letter-spacing: 3px;
        font-weight: 300;
        
        &:hover {
             background: -webkit-linear-gradient(bottom, $color2, $color4);
             -webkit-background-clip: text;
             -webkit-text-fill-color: transparent;    
        }
        
        @media screen and (max-width: 900px) {
            padding:0;
        }
    }
    
    &__links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        @media screen and (max-width: 900px) {
            display: none;
        }
    }
    
    &__link {
        transition: all .2s;
        font-size: 15px;
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: $color3;
        padding: 17px;
        border-bottom: 2.4px solid transparent;
        text-align: center;
        text-decoration: none;
        
        &:hover {
            color: $color2;
        }
    }
}

.nav-active {
    color: $color2;
    border-color: $color2;
}

.title-active {
    background: -webkit-linear-gradient(bottom, $color2, $color4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-auth {
    cursor: pointer;
}


.nav-spacer {
    top: 65px;
    height: 65px;
    display: block;
}

.mobile-btn {
    display: none;
    position: fixed;
    right: 20px;
    top: 15px;
    color: $color3;
    font-size: 25px;
    cursor: pointer;
    z-index: 11;
    &:hover {
        color: $color2;
    }
    @media screen and (max-width: 900px) {
        display: block;
    }
}

.nav__drawer {
    height: 100%;
    width: 50%;
    top: 0px;
    left: 0;
    position: fixed;
    background: white;
    z-index: 10;
    
    &-links {
        margin-top: 55px;
    }
    
    &-link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $color1;
        display: block;
        padding: 10px;
        text-align: center;
        width: 100%;
        font-size: 20px;
        text-decoration: none;
        
        p {
            margin-bottom: 0;
        }
        
        &:hover {
            background: $color2;
            color: white;
        }
    }
}

.nav__backdrop {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 9;
    cursor: pointer;
}

.mobile-active {
    background: $color2;
    color: white;
    border-color: transparent;
}