@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(60px)
  }
  15% {
    transform: translateY(0px)
  }
  85% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(60px)
  }
}


@keyframes fadeInGrow {
    from {
        transform: scale(.4);
        opacity: 0;
    }
    
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.fadeIn {
    @include fadeInAnimation
}

.fade-interval-1 {
    animation: fadeInGrow;
    animation-duration: .5s;
    animation-iteration-count: 1;
}

.fade-interval-2 {
    animation: fadeInGrow;
    animation-duration: .6s;
    animation-iteration-count: 1;
}

.fade-interval-3 {
    animation: fadeInGrow;
    animation-duration: .7s;
    animation-iteration-count: 1;
}

.fade-interval-4 {
    animation: fadeInGrow;
    animation-duration: .8s;
    animation-iteration-count: 1;
}

.fade-interval-5 {
    animation: fadeInGrow;
    animation-duration: .9s;
    animation-iteration-count: 1;
}

.fade-interval-6 {
    animation: fadeInGrow;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.fade-interval-7 {
    animation: fadeInGrow;
    animation-duration: 1.1s;
    animation-iteration-count: 1;
}

.fade-interval-8 {
    animation: fadeInGrow;
    animation-duration: 1.2s;
    animation-iteration-count: 1;
}

.fade-interval-9 {
    animation: fadeInGrow;
    animation-duration: 1.3s;
    animation-iteration-count: 1;
}

.fade-interval-10 {
    animation: fadeInGrow;
    animation-duration: 1.4s;
    animation-iteration-count: 1;
}

.fade-interval-11 {
    animation: fadeInGrow;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
}