@mixin respond($bp) {
    @if $bp == phone {
        @media (max-width: 26.5625em) {
            @content
        }
    }
    
    @if $bp == tablet {
        @media (max-width: 48em ) {
            @content
        }
    } 
    
    @if $bp == laptop {
        @media (max-width: 64em ) {
            @content
        }
    }
    
    @if $bp == dektop {
        @media (max-width: 90em ) {
            @content
        }
    }
    
    @if $bp == huge {
        @media (max-width: 160em ) {
            @content
        }
    }
}

@mixin hoverOrange {
    &:hover {
        color: $color2;
    }
}

@mixin fadeInAnimation {
    animation: fadeIn;
    animation-duration: .3s;
    animation-iteration-count: 1;
}

@mixin flex-container-responsive {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
