.header-massive {
    font-weight: lighter;
    display: block;
    text-align: center;
    text-transform: uppercase;
    color: white;
    animation: header-fade;
    animation-duration: .5s;
    animation-iteration-count: 1;
}

.call2action {
    transition: background .2s;
    max-width: 250px;
    display: block;
    padding: 15px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid $color2;
    background: transparent;
    margin: auto;
    border-radius: 2px;
    
    &:hover {
        background: $color2;
    }
    
}

.text {
    max-width: 1200px;
    padding: 20px;
    color: white;
    font-weight: lighter;
    line-height: 30px;
    text-align: justify;
}

.full-section {
    min-height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.features {
    margin-top: 40px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
}

.feature {
    transition: background .2s;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 2px 2px 0 0;
    padding: 30px;
    text-align: center;
    cursor: pointer;
    
    i {
    
        padding: 30px;
    }
    
    p {
     
        padding: 20px 0 20px 0;
    }
    
    &:hover {
        background: white;
    }
}

.feature-active {
    background: white;
    border-radius: 2px 2px 0 0 ;
    padding: 30px;
    text-align: center;
    cursor: pointer;
    
    i {
     
  
    }
    
    p {
       
       
    }
    
}

.feature-description {
    background: white;
    border-radius: 0 0 2px 2px;
    text-align: center;
}

.primary-tools {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
    grid-gap: 10px;
    width: 100%;
    
    
    
    &__el {
        border-radius: 2px;
        background: rgba(255, 255, 255, 0.6);
        width: 100%;
        height: 300px;
        text-align: center;
        text-transform: uppercase;
        font-weight: lighter;
        transition: background .5s;

        
        &:hover {
            background: rgba(255, 255, 255, 1);
        }
        
        i {
            display: block;
            text-align: center;
        }
    }
}

.secondary-tools {
    width: 100%;

    border-radius: 2px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    
 
    
    div {
        background: rgba(255, 255, 255, 0.6);
        text-transform: uppercase;
       
        text-align: center;
        border-radius: 2px;
        font-weight: lighter;
        letter-spacing: 2px;
        transition: background .5s;
       
        &:hover {
            background: rgba(255, 255, 255, 1);
        }
        
        
        
    }
}

.fade-interval-1 {
    animation: header-fade;
    animation-duration: .5s;
    animation-iteration-count: 1;
}

.fade-interval-2 {
    animation: header-fade;
    animation-duration: .6s;
    animation-iteration-count: 1;
}

.fade-interval-3 {
    animation: header-fade;
    animation-duration: .7s;
    animation-iteration-count: 1;
}

.fade-interval-4 {
    animation: header-fade;
    animation-duration: .8s;
    animation-iteration-count: 1;
}

.fade-interval-5 {
    animation: header-fade;
    animation-duration: .9s;
    animation-iteration-count: 1;
}

.fade-interval-6 {
    animation: header-fade;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.fade-interval-7 {
    animation: header-fade;
    animation-duration: 1.1s;
    animation-iteration-count: 1;
}

.fade-interval-8 {
    animation: header-fade;
    animation-duration: 1.2s;
    animation-iteration-count: 1;
}

.fade-interval-9 {
    animation: header-fade;
    animation-duration: 1.3s;
    animation-iteration-count: 1;
}

.fade-interval-10 {
    animation: header-fade;
    animation-duration: 1.4s;
    animation-iteration-count: 1;
}

.fade-interval-11 {
    animation: header-fade;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
}

@keyframes header-fade {
    from {
        transform: scale(.4);
        opacity: 0;
    }
    
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.bg-1 {
    background: linear-gradient(black, $color2);
}

.bg-2 {
    background: linear-gradient($color2, $color4);
}

.bg-3 {
    background: linear-gradient($color4, #6e5494);
}

.bg-4 {
    background: linear-gradient(#6e5494, black);
}
.hide {
    opacity: 0;
}