.call2action {
    transition: background .2s;
    max-width: 250px;
    display: block;
    padding: 15px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid $color2;
    background: transparent;
    margin: auto;
    border-radius: 2px;
    &:hover {
        background: $color2;
    }
}


.feature {
    transition: background .2s;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 4px;
    padding: 4rem;
    text-align: center;
    cursor: pointer;
    margin: .5rem;
    flex-grow: 1;
    i {
        font-size: 2.5rem;
        padding: 3rem;
    }
    &:hover {
        background: white;
    }
}

.flex-item-large {
    flex-basis: 25rem;
    flex-grow: 1;
    padding: 2rem;
    font-size: 1rem;
    font-family: inherit;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.6);
    text-align: center;
    text-transform: uppercase;
    font-weight: lighter;
    transition: background .5s;
    margin: .5rem;
    
    &:hover {
        background: rgba(255, 255, 255, 1);
    }
        
    i {
        font-size: 2.4rem;
        padding: 1rem;
        display: block;
        text-align: center;
    }
}

.flex-item-small {
     flex-basis: 10rem;
     flex-grow: 1;
     background: rgba(255, 255, 255, 0.6);
     text-transform: uppercase;
     padding: .9rem;
     margin: .5rem;
     text-align: center;
     border-radius: 2px;
     font-weight: lighter;
     letter-spacing: 2px;
     transition: background .5s;
       
     &:hover {
         background: rgba(255, 255, 255, 1);
     }
}




.bg-1 {
    background: linear-gradient($color1, $color2);
}

.bg-2 {
    background: linear-gradient($color2, $color4);
}

.bg-3 {
    background: linear-gradient($color4, #6e5494);
}

.bg-4 {
    background: linear-gradient(#6e5494, $color1);
}

.hide {
    opacity: 0;
}