.sort-buttons {
    display: flex;
}

.sort-button-inactive {
    @include box
    @include buttonStyle
    margin: .2rem;
    display: block;
    width: 100%;
    background: rgba(255 ,255 ,255, 0.4);
    border: none;
    
    &:hover {
        background: $color2-light;
    }

}

.sort-button-active {
    @include box
    @include buttonStyle
    margin: .2rem;
    display: block;
    width: 100%;
    background: $color2;
    color: white;
    border: none;
    
    
    
}

.end-of-list {
   
    color: $color1;
    border-bottom: 1px solid $color1;
    text-align: center;
    padding: 1rem;
}