.show {
    &__top-pane {
        display: flex;
        align-items: center;
        justify-content: space-between;
   
    }
    
     &__author-info {
        display: flex;
        align-items: center;
        img {
            height: 60px;
            width: 60px; 
            border-radius: 50%;
            padding: 10px;
        } 
    }
    
    &__vote {
        p {
            display: inline-block;
        }
    }
    
    &__content {
        
        p {
            white-space: pre-wrap;    
        }
        
        img {
            @include box;
            display: block;
            max-width: 100%;
            margin: auto;
        }
    }
}

.post-voted {
    color: $color2; 
}

.post-not-voted {
    color: $color1;
    cursor: pointer;
    &:hover {
        color: $color2;
    }
}

.post-no-user {
    color: $color1;
}

.flex-2 {
    display: flex;
    align-content: end;
    justify-content: space-between;
    
}

.comment-count {
    color: $color2;
}

.post-tags {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    justify-items: flex-start;
    flex-wrap: wrap;
    
    p {
        border: 1px solid $color2;
        padding: .3rem;
        color: $color2;
        border-radius: 5px;
        margin: .3rem;
    }
    
}