.show {
    &__top-pane {
        border-radius: 2px;
        display: flex;
        color: $color3;
        padding: 10px;
        align-items: center;
        justify-content: space-between;
        background: rgba(255, 255, 255, 0.9);
    }
    
     &__author-info {
        display: flex;
        align-items: center;
        padding: 10px;
        img {
            height: 60px;
            width: 60px; 
            border-radius: 50%;
            margin-right: 20px;
        } 
        
        p {
            margin-bottom: 0;
            font-weight: lighter;
            color: black;
        }
        
        a {
            font-size: 18px;
            text-decoration: none;
            color: $color1;
            
            &:hover {
                color: $color2;
            }
        }  
          
    }
    
    &__vote {
        i {
            margin-right: 4px;    
            font-size: 20px;
        }
        p {
            display: inline-block;
            font-size: 19px;
            margin-bottom: 0;
            color: $color1;
        }
    }
    
    &__content {
        padding: 25px 25px 25px 25px;
        border-radius: 2px;
        min-height: 200px;
        background: rgba(255, 255, 255, 0.9);
        
        h1 {
            text-align: center;
        }
        img {
            display: block;
            max-width: 100%;
            margin: auto;
            
            
        }
    }
    
    &__title {
        color: $color1;
        font-size: 35px;
        text-align: center;
    }
    
    &__body {
        white-space: pre-wrap;
        color: $color1;
        font-size: 16px;
        line-height: 22px;
    }
}

.post-voted {
    color: $color2; 
}

.post-not-voted {
    color: $color1;
    cursor: pointer;
    
    &:hover {
        color: $color2;
    }
}

.post-no-user {
    color: $color1;
}

.show-comments {
    background: $color3;
    padding: 20px;
} 

.flex-2 {
    display: flex;
    align-content: end;
    justify-content: space-between;
    
}

.comment-count {
    color: $color2;
    padding-left: 5px;
}

