.user {

   
    &__avatar {
      
        background: black;
        color: white;
        display: block;
        border-radius: 50%;
        height: 150px;
        width: 150px;
        margin: auto;
    }
    
    &__avatar-small {
    
        height: 50px;
        width: 50px;
   
        border-radius: 50%;
        color: white;
        background: black;
    }
}