.user {

   
    &__avatar {
      
        background: black;
        color: white;
        display: block;
        border-radius: 50%;
        height: 150px;
        width: 150px;
        margin: auto;
    }
    
    &__avatar-small {
        margin-right: 8px;
        height: 40px;
        width: 40px;
        padding: 10px;
        font-size: 20px;
        border-radius: 50%;
        color: white;
        background: black;
    }
}